body{
    font-size: 12px;
    font-family: Arial;
    min-width:1024px;
    /* 	width:1920px; */
}

div.homepageDiv{
    position:relative;
}




.search{


}




/*ProductPage*/


.productNumber{
    font-size: 22px;
}



#selectForm{

}




.registerForm{
    align-items: center;
    width: 500px;
    font-size: 18px;
}

.loginForm{
    align-items: center;

    width: 500px;
    font-size: 18px;
}

.view-nav{
    font-size: 20px;
    font-family: "Microsoft YaHei";
}







